* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Georgia,Times,Times New Roman,serif;
	scroll-behavior: smooth;
}

body {
	/*background: #f6f6f6;*/
	background: #f2f2f2;
}

#l-bg {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -999;
}



.container {
	max-width: 1400px;
}

.grey-icon {
	color: grey;
}



a.navbar-brand > img {
	max-width: 150px;
	position: absolute;
	top: -40%;
	left: 2%;

}

.navbar {
	text-align: center;
}


#welcome {
	background: url("../images/bg5.jpeg");
	min-height: 700px;
	text-align: center;

}

#welcome img {

	margin: 0 auto;
	width: 50%;
}

#welcome p {
	color: white;
}

.home-nav {
	line-height: 2em;
	padding-left: 3%;
	padding-right: 3%;
}

.home-nav h3 {
	margin-bottom: 30px;

}
.h-card {
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	min-height: 350px;
}

/* For the structure of study page */
.nav-pills {
    max-width: 800px;
    margin: 50px auto;
	border: 1px solid #e5e5e5;

}

.navigation {
	min-height: 500px;
	margin-top: 50px;

}

.progress-bar-striped {
	width: 25%;
	aria-valuenow: "25";
	aria-valuemin: "0";
	aria-valuemax: 100;
}

#summary {

	margin: 0 10%;

}

article dl {
	margin: 0 10%;
}
dl dt {
	font-size: 1.1em;
	margin-top: 4%;
}
dl dd {
	line-height: 1.7em;

}
#lesson2 {
	width: 50%;
	aria-valuenow: "50";
	aria-valuemin: "0";
	aria-valuemax: 100;

}

#lesson3 {
	width: 75%;
	aria-valuenow: "75";
	aria-valuemin: "0";
	aria-valuemax: 100;	
}
#lesson4 {
	width: 100%;
	aria-valuenow: "100";
	aria-valuemin: "0";
	aria-valuemax: 100;	

}


.list-group a:hover {
	text-decoration: none;
}

.list-group-item.active {
	background: #cbcbcb;
	color: black;
	border: 1px solid grey;
}

article {
	background-color: white;
	min-height: 1000px;
	margin-top: 50px;
	border: 1px solid #e5e5e5;
}

article > img {
	overflow: hidden;
	max-width: 100%;
}

article > p {
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
}

#gallery {
	min-height: 0;
	padding-bottom: 100px;
	margin-bottom: 50px;
}

#gallery .nav-link {
	color: goldenrod;
}

#gallery .active {
	color: black;
}
#gallery img {
	max-width: 300px;
	max-height: 250px;
}
/*end of study page*/


.btn-warning {
	padding: 10px 40px;
	margin-top: 40px;
}

#contact-header {
	margin-top: 30px;
	padding: 50px;
	text-align: center;
	max-width: 1000px;
}

#contact-form {
	margin-top: 0;
	margin-bottom: 50px;
	min-height: 650px;
}

#submit-btn {

	font-size: 1.5em;
}

#about {
	min-height: 0;
	padding: 50px;
	margin-bottom: 50px
}

#about h1 {
	margin-top: 30px;
	margin-bottom: 30px;
}

#about p {
	line-height: 2em;
}


#about img {
	width: 100%;
	border-left: 1px solid #e5e5e5;
}

#contact-icons {
	max-width: 50%;
	margin: 0 auto;
	margin-bottom: 30px;
}

/*footer*/

#name-footer {
	border-right: 1px solid grey;
}
footer h2 {
	color: white
}

footer h4 {
	color: lightgrey;
	font-size: 1em;
	line-height: 1em;
}

footer li {
	text-decoration: none;
	list-style: none;
	line-height: 1em;
}

footer li a {
	color: white;
	font-size: 0.8em;
}

footer li a:hover {
	color: goldenrod;
	text-decoration: none;
}

footer h3, footer p {
	color: lightgrey;
}

footer input[type=email] {
  width: 60%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

footer input[type=email]:focus {
	border: 3px solid #555;
}

#s-button {
  background-color: goldenrod; /* Green */
  border: none;
  color: black;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#s-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#copyright {
	background: #c8c8c8;
}

footer .grey-icon {
	font-size: 0.8em;
}

#top {
	color: goldenrod;
	text-decoration: none;
}

#top:hover {
	color: grey;
}


/*end of footer*/

#ad article {
	color: white;
	min-height: 500px;
	min-width: 900px;
	max-width: 500px;
	max-height: 500px;
	position: absolute;
	border: none;
	/*background: white;*/
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#ad article p{
	margin:0;
}

#ad img {
	height: 100%;
	width: 100%;
	padding-top: 10%;

}

#ad h5 {
	color: goldenrod;
}

#ad input[type=email] {
  width: 75%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#ad input[type=email]:focus {
	border: 3px solid #555;
}

#f-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#f-button {
  background-color: goldenrod; /* Green */
  border: none;
  color: black;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#f-button a {
	color: black
}

.modal img {
	max-height: 100%;
    max-width: 100%;
}



@media only screen and (max-width: 600px) {
	#welcome {
		background-position: center;
	}



	footer {
		text-align: center !important;
	}

	footer h2 {
		display: none;
	}

	#about img {
		border: none;
	}

	#contact-cont {
		padding: 0 !important;
	}

	#ad img {
		display: none
	}

	#ad article {
		color: white;
		min-height: 100%;
		min-width: 100%;
		max-width: none;
		max-height: none;
		position: static;
		border: none;
		/*background: white;*/
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		top: 0;
	    left: 0;
	    transform: translate(0, 0);
	    padding-left: 10px;

}



}

@media only screen and (max-width: 900px) {
	#welcome {
		min-height: 400px;
	}
	#about img {
		border: none;
	}

	#ad img {
		display: none
	}

	#ad article {
		color: white;
		min-height: 100%;
		min-width: 100%;
		max-width: none;
		max-height: none;
		position: static;
		border: none;
		/*background: white;*/
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		top: 0;
	    left: 0;
	    transform: translate(0, 0);
	    padding-left: 30px;

	}
}
